<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <h4>Active Learning Lab of Quantitative Psychology</h4>
                <h5>where learning the mind and learning how to learn it occur actively</h5>

		   <p>  </p><p>
            		  
            
		</div>
		  
		<div class="col-sm-4">
                  <h5>
		  <a href="http://coas.howard.edu/psychology/">Department of Psychology</a><br />
                  <a href="https://www2.howard.edu">Howard University</a><br />
		  525 Bryant St NW Rm N-179<br />
		  Washington, DC 20059<br />
             <!--(<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)-->
		</h5>
                 </div>

                <!--<div class="col-sm-4">
		  <p>We are in the <a href="http://coas.howard.edu/psychology/">Department of Psychology</a> at <a href="https://www2.howard.edu">Howard University</a>.</p>
		</div>-->
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
